@charset "UTF-8";
#header .header {
  width: 1512px;
  height: 95px;
  background-color: black;
  flex-direction: row;
}
#header .header-left {
  width: 76.7%;
  height: 100%;
  justify-content: center;
  align-items: start;
}
#header .header-left img {
  width: 120px;
  height: 36px;
  padding-left: 20%;
}
#header .header-right {
  width: 23.4%;
  height: 95px;
  background: linear-gradient(to right, #3A3A3A, #242424);
  max-width: 100%;
  align-items: center;
}
#header .header-right a {
  color: #fff;
  line-height: 4.78;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
#header .header-right a span {
  letter-spacing: -1.4px;
  margin-right: 12px;
}

#section1 {
  width: 1512px;
  margin: 0 auto;
}
#section1 .sec1-container {
  width: 100%;
  background-color: #272727;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #fff;
}
#section1 .sec1-container .msg {
  width: 14.748%;
  height: 710px;
  z-index: 32;
}
#section1 .sec1-container .msg h2 {
  width: 25px;
  text-orientation: upright;
  /* 文字の向き（垂直） */
  white-space: nowrap;
  /* テキストを折り返さないようにする */
  writing-mode: vertical-rl;
  /* 縦書きの方向（右から左） */
  color: #fff;
  position: relative;
  top: 384px;
  left: 57px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 6px;
}
#section1 .sec1-container .msg span {
  position: absolute;
  top: 599px;
  left: 157px;
  color: #fff;
  letter-spacing: -1px;
  transform: rotate(90deg);
}
#section1 .sec1-container .msg p {
  width: 187px;
  position: absolute;
  top: 641px;
  left: 80px;
  color: #fff;
  letter-spacing: 1px;
}
#section1 .sec1-container .sec1-container:nth-child(2) {
  align-self: flex-start;
  order: 2;
}
#section1 .sec1-container .img {
  width: 85.252%;
  height: 710px;
  z-index: 2;
}
#section1 .sec1-container .sec1-container:nth-child(3) {
  align-self: flex-end;
  order: 3;
}
#section1 .sec1-container .info {
  width: 63%;
  height: 175px;
  border-right: #fff 1px solid;
}
#section1 .sec1-container .info P {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-top: 56px;
  position: relative;
  right: 246px;
  font-family: Karla;
}
#section1 .sec1-container .info P span {
  letter-spacing: -1px;
  margin-right: 12px;
}
#section1 .sec1-container .info a {
  font-size: 14px;
  font-weight: 400;
  color: #Fff;
  letter-spacing: 0.6px;
  position: relative;
  right: 14px;
  top: 9.5px;
}

#section2 {
  width: 1512px;
  height: 800px;
  overflow: hidden;
  margin: 0 auto;
}
#section2 .sec2-container {
  width: 100%;
  height: 100%;
  background-color: #272727;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 200px;
}
#section2 .sec2-container .sec2-container:nth-child(2) {
  align-self: flex-start;
  order: 1;
}
#section2 .sec2-container .sec2-msg {
  width: 50%;
  height: 280px;
  left: 180px;
  z-index: 3;
  color: #FFF;
}
#section2 .sec2-container .sec2-msg p {
  margin-top: 50px;
}
#section2 .sec2-container .sec2-container:nth-child(2) {
  align-self: flex-start;
  order: 2;
}
#section2 .sec2-container .sec2-img {
  width: 40%;
  left: 200px;
  top: 5%;
}
#section2 .sec2-container .sec2-container:nth-child(3) {
  align-self: flex-end;
  order: 3;
}
#section2 .sec2-container .sec2-text {
  width: 75%;
  height: 330px;
  left: 300px;
  bottom: 100px;
  z-index: 2;
}
#section2 .sec2-container .sec2-text h2 {
  font-size: 34px;
}

#section3 {
  width: 1512px;
  height: 900px;
  margin: 0 auto;
}
#section3 .sec3-container {
  width: 100%;
  height: 900px;
  background: #272727;
}
#section3 .sec3-container .sec3-img {
  right: 18%;
  bottom: 17%;
}
#section3 .sec3-container .sec3-img p {
  color: #FFF;
  font-family: Julius Sans One;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  bottom: 22%;
}
#section3 .sec3-container .sec3-img span {
  color: #FFF;
  font-size: 76px;
  position: relative;
  bottom: 45%;
  left: 60%;
  letter-spacing: -5px;
}
#section3 .sec3-container .sec3-main {
  width: 90%;
  height: 600px;
  flex-direction: row;
  justify-content: center;
}
#section3 .sec3-container .sec3-main div {
  width: 450px;
  height: 536px;
  background-color: #dfdfdf;
  margin: 20px;
  bottom: 50%;
}
#section3 .sec3-container .sec3-main div img {
  width: 70%;
  height: 35%;
  margin-top: 20%;
}
#section3 .sec3-container .sec3-main div p {
  margin-top: 20%;
  color: #000;
  font-family: Karla;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

#section4 {
  width: 1512px;
  height: 1076px;
  margin: 0 auto;
}
#section4 .sec4-container {
  width: 100%;
  height: 1076px;
  background: #272727;
}
#section4 .sec4-container .swiper {
  width: 100%;
  height: 900px;
  margin-top: 150px;
}
#section4 .sec4-container .swiper-wrapper {
  width: 100%;
  height: 900px;
  flex-direction: row;
}
#section4 .sec4-container .swiper-wrapper img {
  width: 100%;
  height: 900px;
  margin: 0 auto;
}
#section4 .sec4-container .swiper-wrapper .slide-text {
  width: 46%;
  font-size: 24px;
  font-weight: bold;
  color: #fbfbfb;
  border-radius: 5px;
  bottom: 65%;
  left: 10%;
  align-items: start;
}
#section4 .sec4-container .swiper-wrapper .slide-text h2 {
  font-size: 70px;
}
#section4 .sec4-container .swiper-wrapper .slide-text p {
  margin-top: 5px;
  font-size: 14px;
}
#section4 .sec4-container .swiper-wrapper .item-name {
  width: 40%;
  height: 34%;
  left: 60%;
  bottom: 85%;
  white-space: nowrap;
  overflow: hidden;
  color: #FFFBD4;
  font-family: Karla;
  font-size: 87.539px;
  font-style: normal;
  font-weight: 300;
  line-height: 80px;
}
#section4 .sec4-container .swiper-wrapper .item-name span {
  font-size: 50px;
  letter-spacing: -3px;
}
#section4 .sec4-container .swiper-wrapper .line {
  letter-spacing: -1px;
  z-index: 3;
  transform: rotate(90deg);
  position: relative;
  right: 13%;
  bottom: 135%;
  left: -14%;
  color: #ffffff;
}
#section4 .sec4-container .swiper-pagenation {
  flex-direction: row;
}

#section5 {
  width: 1512px;
  height: 795px;
  margin: 0 auto;
}
#section5 .sec5-container {
  width: 100%;
  height: 700px;
  background: #272727;
  flex-direction: row;
}
#section5 .sec5-container .sec5-left {
  width: 40%;
  flex-direction: row;
}
#section5 .sec5-container .sec5-left .img1 {
  top: 120px;
}
#section5 .sec5-container .sec5-left .img2 {
  bottom: 90px;
  left: 20px;
}
#section5 .sec5-container .sec5-right .news {
  width: 100%;
  left: 50%;
  align-items: flex-start;
  color: #ffffff;
  border-bottom: #FFF 0.7px solid;
  margin-top: 40px;
}/*# sourceMappingURL=style.css.map */